$border: 1px solid rgb(55, 56, 61);
$border-radius: 8px;

$background: rgb(35, 39, 43);
$background-accent: rgb(18, 19, 20);
$background-highlight: rgb(46, 51, 56);

$text: rgb(168, 168, 168);
$text-accent: white;
$text-muted: rgb(128, 146, 157);

$accent: rgb(206, 134, 0);
$accent-light: lighten($accent, 10%);

$danger: rgb(243, 76, 76);
$success: rgb(76, 243, 98);